#register {
    .content {
        text-align: center;

        #form {
            max-width: 600px;
            margin: 0 auto;
            padding: 30px;
            box-shadow: 0 0 40px rgba(#000, 0.1);
            text-align: left;
            border-radius: 5px;

            p {
                margin: 0 0 15px 0;
            }

            .links {
                margin-top: 30px;
                font-size: 12px;
                text-align: center;

                span {
                    padding: 0 15px;
                    display: inline-block;
                }
            }
        }
    }
}